@import './styleguide.css';
@import './globals.css';

.navbar {
    gap: 10px;
    padding: 16px 159px;
    position: relative;
}

.navbar .atom-primary-button {

    align-items: center;
    justify-content: center;
    gap: 10px;

    position: absolute;

    left: 1049px;
    background-color: var(--green-600);
    border-radius: 8px;
}

.navbar .text-button {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-XS-bold-font-family);
    font-weight: var(--text-XS-bold-font-weight);
    color: #ffffff;
    font-size: var(--text-XS-bold-font-size);
    letter-spacing: var(--text-XS-bold-letter-spacing);
    line-height: var(--text-XS-bold-line-height);
    white-space: nowrap;
    font-style: var(--text-XS-bold-font-style);
}

.navbar .navlinks {
    align-items: center !important;
    justify-content: center !important;
    gap: 16px;
    position: absolute;

    left: 394px;
}

.navbar .nav-link {
    color: var(--base-900);
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-m-bold-font-family);
    font-weight: var(--text-m-bold-font-weight);
    font-size: var(--text-m-bold-font-size);
    letter-spacing: var(--text-m-bold-letter-spacing);
    line-height: var(--text-m-bold-line-height);
    white-space: nowrap;
    font-style: var(--text-m-bold-font-style);
}

.navbar-brand .overlap-group {
    position: relative;
    width: 63px;
    height: 45px;
}

.navbar-brand .text-wrapper-4 {
    position: absolute;
    width: 53px;
    top: 0;
    left: 5px;
    font-family: 'Dancing Script', Helvetica;
    font-weight: 700;
    color: var(--green-600);
    font-size: 23.5px;
    letter-spacing: 0;
    line-height: 30.6px;
}

.navbar-brand .text-wrapper-5 {
    position: absolute;
    width: 63px;
    top: 30px;
    left: 0;
    font-family: 'Halant', Helvetica;
    font-weight: 300;
    color: var(--basetitle);
    font-size: 11.8px;
    letter-spacing: 2.83px;
    line-height: 15.3px;
}

.navbar .iconoir-search {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1001px;
}
